@import "reset.css";
html,
body,
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app .header {
  width: 100vw;
  height: 10Vh;
  background: #000;
  text-align: center;
  line-height: 10vh;
  font-family: 宋体;
  font-size: 20px;
  color: white;
  position: relative;
  z-index: 10;
}
.app #container {
  width: 100vw;
  height: 90vh;
}
.app #wrapper {
  position: relative;
}
.app #wrapper ul {
  display: flex;
  flex-wrap: wrap;
}
.app #wrapper li {
  width: 44vw;
  height: 44vw;
  margin: 3vw;
  border-radius: 3vw;
  overflow: hidden;
  background: #eee url("../img/loadingImg.gif") center center no-repeat;
}
.app #wrapper li img {
  width: 100%;
  transition: all 1s;
}
.app .scroll-bar {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.app .bottom {
  height: 20vh;
  width: 100vw;
  position: absolute;
  bottom: -20vh;
  text-align: center;
  line-height: 20vh;
  font-family: 宋体;
  font-size: 20px;
}
.app #big-image header {
  width: 100vw;
  height: 10vh;
  background-color: #000;
  text-align: center;
  line-height: 10vh;
  color: white;
  font-family: 宋体;
  font-size: 20px;
}
.app #close {
  position: absolute;
  right: 10px;
}
.app #big-image section {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
