@import "./reset.css";
.box {
  width: 1000px;
  height: 800px;
  margin: 100px auto 0 auto;
  background: linear-gradient(to bottom, #c9c5c5 0%, #fff 10%);
}
.box .content {
  width: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box .content .left {
  width: 400px;
  height: 450px;
}
.box .content .left .title1 {
  font-weight: bold;
}
.box .content .left .title1 span {
  color: #5c5858;
}
.box .content .left ul {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box .content .left ul li {
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .content .left ul li img {
  width: 50px;
  height: 50px;
}
.box .content .left ul li p {
  width: 300px;
}
.box .content .right {
  width: 600px;
  height: 450px;
}
.box .content .right .title2 {
  font-weight: bold;
}
.box .content .right .title2 span {
  color: #5c5858;
}
.box .content .right div {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box .content .right div p {
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
}
.box .content .right div p:nth-child(2) {
  width: 600px;
  height: 100px;
}
.box .content .right div p:nth-child(2) img {
  width: 600px;
  height: 100px;
}
.box .bottom {
  width: 1000px;
  height: 80px;
  line-height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-top: 10px solid #3a3838;
  padding: 0 10px 0 10px;
}
.box .bottom p img {
  width: 20px;
  height: 20px;
}
